{% extends '::layout.html.twig' %}

{% block title %}
    Erreur 404 - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="thumbnail">
        <div class="error">
            <h1 class="text-center">Oops! Erreur 404</h1>
            <h2 class="text-center">Le serveur a retourné ce type d'erreur: "{{ status_code }} {{ status_text }}".</h2>
            <br><br>
            <div>
                La page demandée n'existe pas!
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
