{% extends "::layout.html.twig" %}

{% block title %}
    Modifier un trick - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container thumbnail form-container">
        <h4 class="text-center">Modifier une figure</h4>
        <br>
        {{ include(':AppBundle:form.html.twig') }}
    </div>
    <p>
        <a href="{{ path('trick', {'slug': trick.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retourner à la figure
        </a>
    </p>
{% endblock %}