/*#####################################################################
########################### Colors ####################################
#####################################################################*/
/* background blue: #b0e0e6

 */

/*#####################################################################
########################### GENERAL ###################################
#####################################################################*/
body
{
    background: #B0e0e6 !important;
}

.btn-danger
{
    color: #FFFFFF !important;
}

/*#####################################################################
########################### NAVBAR ####################################
#####################################################################*/
.navbar
{
    background: #FFFFFF;
}

.connection-infos
{
    padding: 10px;
}

/*#####################################################################
############################# HOME ####################################
#####################################################################*/
#headerwrap
{
    background: url(../img/homepic.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1
{
    margin-top: 100px;
    color: #444444;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 3px;
}

/*#####################################################################
############################# LOGIN ###################################
#####################################################################*/
.form-container
{
    padding: 20px !important;
}